.banner {
    background-color: #211C24;
    
    &__box {
        position: relative;
        min-height: calc(100vh - 80px);
    }
    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 400px;
        height: 550;
    }

    &__welcome {
        position: absolute;
        display: inline-block;
        color: #fff;
        top: 50%;
    }

    &__title {
        font-size: 100px;
    }

    &__subtitle {
        font-size: 18px;
        padding-bottom: 50px;
    }

    &__top-title {
        font-size: 25px;
    }

    &__btn {
        display: inline-block;
        font-size: 16px;
        color: #fff;
        padding: 20px 60px;
        border: 1px solid #fff;
    }
}
