.header__box {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    height: 80px;
}

.search {
    position: relative;
    background-color: rgb(98, 98, 98, 0.1) ;
    border-radius: 5px;
    height: 56px;
    width: 400px;

    &__input {
        position: absolute;
        width: 85%;
        height: 100%;
        margin-left: 48px;
    }
    &__btn {
        position: absolute;
        left: 16px;
        bottom: 16px;
    }
}

.nav-bar__list {
    display: flex;
    column-gap: 50px;
}

.user-bar {
    column-gap: 25px;
}