.smaller-banner__box {
    min-width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 3fr;
    grid-template-areas: 
    "grid1 grid1 grid2"
    "grid3 grid4 grid2";
}
.grid {
    align-items: center;
    height: 100%;

}
.smaller-banner__g1 {
    display: flex;
    grid-area: grid1;
}
.smaller-banner__g2 {
    display: flex;
    grid-area: grid3;
    background-color: #EDEDED;
}
.smaller-banner__g3 {
    display: flex;
    grid-area: grid4;
    background-color: #353535;
}
.smaller-banner__g4 {
    position: relative;
    display: flex;
    grid-area: grid2;
    background-color: #EDEDED;
    overflow: hidden;
    height: 90%;
}
.desc {
    padding-left: 35px;
    padding-right: 35px;
    justify-content: center;
}
.subtitle {
    font-size: 14px;
    color: #909090;
    padding-top: 20px;
    padding-bottom: 32px;
}
.smaller-banner__big-title {
    font-size: 65px;

}
.smaller-banner__midle-title{
    font-size: 50px;
}
.smaller-banner__title{
    font-size: 30px;
}
.mackbook {
    position: absolute;
    left: 60%;
    width: 500px;
    height: 650px;
}