.container {
    max-width: 1120px;
    margin: 0 auto;
}

.secondary__btn {
    border: 1px solid black;
    border-radius: 5px;
    width: 184px;
    height: 56px;
    padding: 16px 56px;

    &--white {
        border: 1px solid white;
    }
}

.primary__btn {
    background-color: black;
    color: #fff;
    padding: 12px 64px;
    border-radius: 8px;
}

.price {
    padding-top: 16px;
    padding-bottom: 24px;
}